/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared style  */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.text-colour-gray {
    color: rgb(66, 66, 66);
}

.text-light-gray {
    color: rgb(114, 114, 114);
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    font-size: calc(20rem / 16);
    font-weight: 600;
    color: white;
    padding: 20px 25px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: calc(45rem / 16);
    font-weight: 700;
}

.section-description {
    font-weight: 400;
    color: rgb(114, 114, 114);
}

/* Nav styles  */

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: calc(45rem / 16);

}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
}

/* banner style  */
.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: calc(64rem / 16);
    font-weight: 700;
}

.banner-image {
    width: 100%;
}

/* teams and out features section style  */
.teams {
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 73px;
    max-width: 537px;
}

.Quick-list {
    color: rgb(114, 114, 114);
    font-weight: 500;
}

.of-Our {
    color: rgb(19, 19, 19);
}

.Features {
    color: rgb(255, 144, 14);
}

/* soeme facts related styles  */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.facts {
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facts-description {
    max-width: 400px;
}

.facts-number {
    font-size: calc(45rem / 16);
    font-weight: 600;
    margin: 0;
}

.facts-name {
    font-size: calc(20rem / 16);
    font-weight: 600;
    color: rgb(114, 114, 114);
    margin: 0;
}

/* sponsors releted styles  */
.sponsors-info {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

/* enjoy feature section style  */
.enjoy-feature {
    display: flex;
    gap: 146px;
}

.enjoy-feature .section-title {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 21px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.feature-card .feature-title {
    font-size: calc(20rem / 16);
    font-weight: 600;
    color: rgb(19, 19, 19);
    margin: 0;
}

.expirence-badge {
    padding: 45px 42px;
    font-size: calc(25rem / 16);
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

.expirence-year {
    font-size: calc(65rem / 16);
    font-weight: 700;
}

.enjoy-features-image-container img {
    width: 100%;
}

.hide {
    display: none;
}

/* Rexponsiv styles  */
/* mobile devises  */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 0;
    }

    .teams-image-container,
    .facts-container,
    .sponsors-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container,
    .sponsors-companies {
        justify-items: center;
        gap: 24px;
    }

    .expirence-badge {
        margin: 0;
    }
}


/* tablate devises  */
@media screen and (min-width: 577px) and (max-width: 992px) {

    .teams,
    .enjoy-feature {
        flex-direction: column;
    }

    .our-features {
        margin: 20px auto;

    }

    .facts-container,
    .sponsors-companies {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }

    .expirence-badge {
        margin: 0;
    }
}